@model IEnumerable<Pasteleria.Models.Objetos.UsuarioObj>

@{
    ViewBag.Title = "UsuariosConsulta";
}

@Html.AntiForgeryToken()

<div class="jumbotron">
    <!--Encabezado-->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="https://cdn-icons-png.flaticon.com/512/1165/1165674.png" width="55" height="55" class="d-inline-block align-top" alt="">
            <h1 class="d-inline text-center"> Mantenimiento de Usuarios</h1>
        </a>
        @Html.ActionLink("Agregar Nuevo Usuario", "UsuariosRegistrar", "Usuario", null, new { @class = "btn btn-info pull-right mr-3" })

    </nav>

    <!--Tabla-->
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive-md">
                <table class="table table-hover table-bordered table-striped mt-3" id="tablaUsuarios">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Correo</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Tipo Usuario</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.correo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.telefono)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tipoUsuario.descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.estado)
                                </td>
                                <td>

                                    @if (Session["IdUsuario"].ToString() != item.id.ToString())
                                    {
                                        @Html.ActionLink("Actualizar", "UsuariosActualizar", "Usuario", new { id = item.id }, new { @class = "btn btn-dark" })
                                        <!--En progreso el inactivar-->
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-book-id="@item.id">
                                            Cambiar Estado
                                        </button>
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Actualizar", "UsuariosActualizar", "Usuario", new { id = item.id }, new { @class = "btn btn-dark", @style = "cursor:not-allowed" })
                                        <!--En progreso el inactivar-->
                                        <button type="button" class="btn btn-danger" style="cursor:not-allowed">
                                            Cambiar Estado
                                        </button>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>

@section scripts
{
    <script>

        $('#exampleModal').on('show.bs.modal', function (e) {
            var bookId = $(e.relatedTarget).data('book-id');
            $("#id").val(bookId);
        });

        function CambiarEstado() {

            $.ajax({
                type: 'POST',
                url: '/Usuario/CambiarEstadoUsuario',
                data: {
                    "id": $("#id").val()
                },
                dataType: 'json',
                success: function (data) {
                    window.location.href = "/Usuario/UsuariosConsulta"
                },
                error: function (data) {
                    alert('Error')
                }
            });

        }

    </script>
}

@section modals
{
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cambiar Estado</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <p>Está seguro de cambiar el estado del usuario?</p>

                    @Html.Hidden("id", "")

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-primary" value="Continuar" onclick="CambiarEstado();" />
                </div>
            </div>
        </div>
    </div>

}
