@model List<Pasteleria.Models.Objetos.CotizacionObj>

@{
    ViewBag.Title = "Lista de cotizaciones";
}

@section pageCSS{
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/dt-global_style.css">
}

<!--Encabezado-->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="https://cdn-icons-png.flaticon.com/512/1165/1165674.png" width="55" height="55" class="d-inline-block align-top" alt="">
        <h1 class="d-inline text-center">Cotizaciones realizadas</h1>
    </a>
    <button type="button" class="btn btn-primary btn btn-info pull-right mr-3" data-toggle="modal" data-target="#agregarModal">Solicitar nueva cotización</button>

</nav>
<div class="row layout-top-spacing" id="cancel-row">

    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
        <div class="widget-content widget-content-area br-6">
            <div class="table-responsive mb-4 mt-4">
                <table id="cotizacionesTable" class="table table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Cotización estimada</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model) {
                            <tr>
                                <td>@item.COT_ID</td>
                                <td>@item.COT_ESTIMADO</td>
                                <td>@item.COT_EST_DESC</td>
                                <td><a href="@Url.Action("Detalles","Cotizaciones",new { id = item.COT_ID})"><i data-feather="eye"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@{
    var niveles = ViewBag.Niveles as List<SelectListItem>;
    var sabor = ViewBag.Sabores as List<SelectListItem>;
    var color = ViewBag.Colores as List<SelectListItem>;
    var decoracion = ViewBag.Decoraciones as List<SelectListItem>;
    var forma = ViewBag.Formas as List<SelectListItem>;
}

@section modals{
    <!-- Modal -->
    <div class="modal fade" id="agregarModal" data-bs-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="agregarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="agregarModalLabel">Solicitar cotización</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Niveles pastel</label>
                        @Html.Hidden("UsuarioCorreo", Session["CorreoUsuario"].ToString())
                        @Html.DropDownList("OpcionElegir", niveles, new { @class = "form-control", @required = true })
                        <br />
                        <label>Sabor</label>
                        @Html.DropDownList("OpcionElegir", sabor, new { @class = "form-control", @required = true })
                        <br />
                        <label>Color externo</label>
                        @Html.DropDownList("OpcionElegir", color, new { @class = "form-control", @required = true })
                        <br />
                        <label>Tipo de decoración</label>
                        @Html.DropDownList("OpcionElegir", decoracion, new { @class = "form-control", @required = true })
                        <br />
                        <label>Forma del pastel</label>
                        @Html.DropDownList("OpcionElegir", forma, new { @class = "form-control", @required = true })
                        <br />
                        <label>Comentarios adicionales</label>
                        @Html.TextArea("Comentario", new { @class = "form-control", @required = true, @placeholder = "Agregar datos adiccionales para que la cotización sea efectiva." })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">Cotizar</button>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/plugins/table/datatable/datatables.js"></script>
    <script>
        $(document).ready(function () {
            $('#cotizacionesTable').DataTable({
                "oLanguage": {
                    "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                    "sInfo": "Mostrando página _PAGE_ de _PAGES_",
                    "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                    "sSearchPlaceholder": "Buscar...",
                    "sLengthMenu": "Resultados :  _MENU_",
                },
                "stripeClasses": [],
                "lengthMenu": [7, 10, 20, 50],
                "pageLength": 7
            });
        });
    </script>
}