@model Pasteleria.Models.Objetos.UsuarioObj
@{
    Layout = "~/Views/Shared/_LayoutWelcome.cshtml";
}

<h1 class="">Empezemos con tu <br /> cuenta gratuita</h1>
<p class="signup-link">&#191;Ya tienes cuenta? <a href="@Url.Action("Index","Home")">Inicia Sesi&#243;n</a></p>


@using (Html.BeginForm("NuevoRegistro", "Usuario", FormMethod.Post)) {
@Html.AntiForgeryToken();
<div class="form">
    <div id="email-field" class="field-wrapper input">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-at-sign"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path></svg>
        @Html.TextBoxFor(m => m.correo, new {
       @class = "form-control",
       @placeholder = "Correo",
       @type = "email",
       @required = true
   })

    </div>
    <div id="telefone-field" class="field-wrapper input mb-2">
        <div class="base-icons">
            <i data-feather="phone"></i>
        </div>
        @Html.TextBoxFor(m => m.telefono, new {
        @class = "form-control",
        @placeholder = "Número de teléfonos",
        @type = "tel",
        @required = true
        })
    </div>

    <div id="password-field" class="field-wrapper input mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
        @Html.TextBoxFor(m => m.password, new {
              @class = "form-control",
              @placeholder = "***************",
              @type = "password",
              @required = true
               })
    </div>

    <div class="d-sm-flex justify-content-between">
        <div class="field-wrapper toggle-pass">
            <p class="d-inline-block">Mostrar Contrase&#241;a</p>
            <label class="switch s-primary">
                <input type="checkbox" id="toggle-password" class="d-none">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="field-wrapper">
            <button type="submit" class="btn btn-primary" value="">Registrarse!</button>
        </div>
    </div>
</div>
}